<style>
    .taskAssigneeIcon
    {
        width: 48px;
        text-align: center;
    }
    
    .taskAssigneeName
    {
        width: 100px;
        font-size: large;
    }
    
    .taskName
    {
        width: 300px;
        font-size: large;
    }
    
    .taskNotes
    {
        text-align: right;
        font-size: large;
    }
    
    .taskCompletionDate
    {
        text-align: right;
        font-size: large;
    }
</style>

<meta http-equiv="refresh" content="{{ refreshrate }}">
<table id="tasks">
    {% for task in tasks %}
    <tr>
        <td class="taskAssigneeIcon">
            <img src="{{ task.assignee.avatar }}">
        </td>
        <td class="taskAssigneeName">
            {{ task.assignee.name }}
        </td>
        <td class="taskName">
            {{ task.name }}
        </td>
        <td class="taskNotes">
            {{ task.notes }}
        </td>
        <td class="taskCompletionDate">
            {{ task.completed_date }}
        </td>
    </tr>
    {% endfor %}
</table>