<style>
    .taskAssigneeIcon
    {
        width: 48px;
        text-align: center;
    }
    
    .taskAssigneeName
    {
        width: 110px;
        font-size: large;
    }
    
    .taskName
    {
        font-size: x-large;
    }
    
    .taskNotes
    {
        width: 210;
        font-size: large;
    }
    
    .taskCompletionDate
    {
        width: 64px;
        text-align: right;
        font-size: large;
    }
</style>

<meta http-equiv="refresh" content="{{ refreshrate }}">
<table id="tasks">
    {% for task in tasks %}
    <tr>
        <td class="taskAssigneeIcon">
            <img src="{{ task.assignee.avatar }}">
        </td>
        <td class="taskAssigneeName">
            {{ task.assignee.name }}
        </td>
        <td class="taskName" colspan="{{ 1 if task.notes else 2 }}">
            {{ task.name }}
        </td>
        {% if task.notes %}
        <td class="taskNotes">
            {{ task.notes }}
        </td>
        {% endif %}
        <td class="taskCompletionDate">
            {{ task.completed_date }}
        </td>
    </tr>
    {% endfor %}
</table>